* {
    padding: 0px 0px;
    margin: 0px 0px;
}

body {
    width: 50%;
    height: 100vh;
    margin-right: 25%;
    margin-left: 25%;
}

/* HEADER */

header {
    width: 100%;
    background-color: grey;
    height: 13%;
    display: inline-flex;
}

header .logo-container {
    width: 23%;
    height: 50%;
    background-color: lightgrey;
    margin-top: 3%;
    margin-left: 3%;
    display: inline-flex;
    justify-content: flex-start;
}

/* BOTONES DE XARXES */

header .botones {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: flex-end;
    vertical-align: middle;
}

header .botones .social-1 {
    width: 30px;
    height: 30px;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 4vh;
    margin-bottom: 4vh;
    background-color: lightgrey;
    border-radius: 50%;
    border-color: black;
}

header .botones .social-2 {
    width: 30px;
    height: 30px;
    margin-right: 2%;
    margin-top: 4vh;
    margin-bottom: 4vh;
    background-color: lightgrey;
    border-radius: 50%;
    border-color: black;
}


header .botones .social-3 {
    width: 30px;
    height: 30px;
    margin-right: 2%;
    margin-top: 4vh;
    margin-bottom: 4vh;
    background-color: lightgrey;
    border-radius: 50%;
    border-color: black;
}

/* BARRA DE NAVEGACIÓN*/

.nav {
    display: inline-flex;
    width: 100%;
    height: 6%;
    list-style: none;
}

.nav-elem {
    width: 20%;
    height: 100%;
    background-color: lightgrey;
    color: black;
    text-align: center;
    margin-top: 12px;
    margin-right: 1px;
}

/*DESTACADOS*/

.destacats {
    display: inline-flex;
    width: 100%;
    height: 23%;
    margin-top: 12px;
}

.art1 {
    width: 33%;
    height: 100%;
    background-color: lightgrey;
}

.art2 {
    width: 33%;
    height: 100%;
    background-color: lightgrey;
    margin-left: 6px;
    margin-right: 6px;
}

.art3 {
    width: 33%;
    height: 100%x;
    background-color: lightgrey;
}

  
/*ARTÍCULOS*/


article {
    display: inline-flex;
    width: 100%;
    height: 40%;
    margin-top: 12px;
    margin-bottom: 15px;
}

.lateral-der {
    width: 20%;
    height: 100%;
    background-color: lightgrey;   
}

.main-article {
    width: 60%;
    height: 100%;
    background-color: grey;
}

.lateral-izq {
    width: 20%;
    height: 100%;
    background-color: lightgrey; 
}

/* FOOTER */

.footer {
    background-color: grey;
    height: 8%;
}